@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap");
body, html {
    font-family: Red hat Display, sans-serif;
    font-weight: 400;
    line-height: 1.25em;
    letter-spacing: 0.025em;
    color: #333;
    background: #F7F7F7;
}
#app {
    width: 100%;
    height: 85vh;
    position: relative;
}
.center {
    position: absolute;
    top: 50%;
    left: calc(50% + 12rem);
    transform: translate(-50%, -50%);
}


nav h1 {
    text-align: center;  
}




.contact .message, .contact .seen {
    font-size: 0.9rem;
    color: #999;
    text-align: left;
}


.chat,
.auth {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 1rem;
    background: white;
    box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
    margin: 2em auto;
}

.chat .contact.bar {
    flex-basis: 3.5rem;
    flex-shrink: 0;
    margin: 1rem;
    box-sizing: border-box;
}
/* .chat .chat-messages {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
} */
.chat .messages,
.auth-content {
    display: flex;
    justify-self: flex-end;
    padding: 1rem;
    background: #292929;
    overflow-y: auto;
    box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
    flex-direction: column;
    height: 100%;
}
.chat .messages .time {
    font-size: 0.8rem;
    background: #EEE;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    color: #999;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}
.chat .messages .message {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 2rem 1rem 1rem 1rem;
    border-radius: 1.125rem 1.125rem 1.125rem 0;
    min-height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 66%;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
}
.chat .messages .message.sent {
    margin: 2rem 1rem 1rem auto;
    border-radius: 1.125rem 1.125rem 0 1.125rem;
    background: #333;
    color: white;
}
.chat .messages .message.received {
    margin: 2rem 1rem 1rem auto;
    border-radius: 1.125rem 1.125rem 0 1.125rem;
    background: #fff;
    color: #333;
}
.chat .messages .message .typing {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0rem;
    box-sizing: border-box;
    background: #ccc;
    border-radius: 50%;
}
.chat .messages .message .typing.typing-1 {
    -webkit-animation: typing 3s infinite;
    animation: typing 3s infinite;
}
.chat .messages .message .typing.typing-2 {
    -webkit-animation: typing 3s 250ms infinite;
    animation: typing 3s 250ms infinite;
}
.chat .messages .message .typing.typing-3 {
    -webkit-animation: typing 3s 500ms infinite;
    animation: typing 3s 500ms infinite;
}



.pages-nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
    background-color: #808080;
    border-radius: 1em 1em 0 0;
}
.form-send-msg,
.form-login-register {
    padding: 0.5em 1em;
    background-color: #808080;
    border-radius: 0 0 1em 1em;
}
.btn-send-msg{
    background: none;
    border: none;
    outline: none;
}



/* Auth Page */
.auth-content,
.auth-content .form-login-register {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 2em;
    background: #292929;
}
.auth-content input {
    padding: 0.75em 2em;
    border-radius: 1em;
    border: none;
    background-color: #dadada;
    color: #1b1b1b;
    outline: none;
}
/* Auth Page Buttons */
.auth button {
    border-radius: 1em;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    color: #ffffff;
    border: none;
}
.btn-select-login {

}
.btn-select-register {

}
.auth button.btn-select-login{
    background-color: #ffa31a;
}
.auth button:hover {
    background: #333;
    color: #fff;
    cursor: pointer;
}
.btn-select-login,
.btn-select-register {
    width: 40%;
    padding: 0.5em 1em;    
}
.form-login-register button {
    width: 100%;
    padding: 0.75em 2em;
    background-color: #ffa31a;
}
.btns-login-register {
    box-sizing: border-box;
    flex-basis: 4rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 0.5rem 0 1.5rem;
    justify-content: center;
}
/* End----------- Auth Page Buttons */




/* contacts page */
.contacts-page .contacts-title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}
.contacts-page .btn-log-out button {
    border-radius: 1em;
    border: none;
    outline: none;
    padding: 4px 1em;
    font-size: 12px;
    background-color: #292929;
    color: #ffffff;
}
.contacts-page .pic h4 {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    line-height: 2.75;
}
.contacts-page .user-name-link h4 {    
    margin: 0;
    color: #ffffff;
}
.contacts-page .pic {
    width: 4rem;
    height: 4rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    left: 0;
    border: none;
    background-color: #dadada;
    color: #fff;
}
.contact {
    position: relative;
    margin-bottom: 1rem;
    padding-left: 4rem;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.contact .badge-status{
    border-radius: 1em;
    font-weight: 600;
    padding: 0 8px;
    font-size: 10px;    
}

.contact .name {
    font-weight: 500;
    margin-bottom: 0.125rem;
    text-align: left;
    width: 100%;
    display: block;
    line-height: 2.5;
    padding-left: 1em;
}
.contacts-item {
    padding: 1em;
    height: 100%;
    overflow: auto;
    background-color: #292929;
}

.user-name-link a {    
    text-decoration: none;
}
.contact .badge,
.user-chat-title .badge {
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 1rem;
    top: -3px;
    right: 5px;
}

.contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    /* padding: 2em; */
    box-sizing: border-box;
    border-radius: 1rem;
    cursor: pointer;
    background: #F7F7F7;
    box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 2rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
    margin: 2em auto;
}
.contacts h2 {
    margin: 0.5rem 0 1.5rem 5rem;
}
.contacts .fa-bars {
    position: absolute;
    left: 2.25rem;
    color: #999;
    transition: color 200ms;
}
.contacts .fa-bars:hover {
    color: #666;
}
.contacts .contact:last-child {
    margin: 0;
}


/* Chat Page */
#chat-page .user-chat-title {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 500;
}

#chat-page .user-chat-title .badge {
    top: 6px;
    right: -17px;
}

#chat-page .messages .recieved {
    background: #ffa31a;
    color: #ffffff;
}


#chat-page .form-send-msg  .input {
    box-sizing: border-box;
    flex-basis: 4rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0;
}
#chat-page .input i {
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 200ms;
}
#chat-page .back-icon i {
    font-size: 1em;
    color: #1b1b1b;
    line-height: 1.5;
}
.chat .input i:hover {
    /* color: #333; */
}
.chat .input input,
.auth-content form input {
    border: none;
    outline: none;
    background-image: none;
    background-color: #dadada;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 1.125rem;
    flex-grow: 2;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
    font-family: Red hat Display, sans-serif;
    font-weight: 400;
    letter-spacing: 0.025em;
}
.chat .input input:placeholder,
.auth-content form input:placeholder {
    color: #999;
}
.message,
.user-chat-title {
    position: relative;
}
.name-user-messages {
    position: absolute;
    top: -10px;
    color: #dadada;
}
.sent .name-user-messages {
    right: 0;
}
.recieved .name-user-messages {
    left: 0;
}